<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 상세</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>게시글 상세</h1>
<table border="1">
  <tr>
    <th>제목</th>
    <td th:text="${cmu.question_title}"></td>
  </tr>
  <tr>
    <th>작성자</th>
    <td th:text="${cmu.mem_nick}"></td>
  </tr>
  <tr>
    <th>작성일</th>
    <td th:text="${cmu.question_date}"></td>
  </tr>
  <tr>
    <th>내용</th>
    <td th:text="${cmu.question_txt}"></td>
  </tr>
</table>


<a href="/community/list">목록으로</a>
<a th:href="@{/community/update/{id}(id=${cmu.question_no})}">수정</a>
<a th:href="@{/community/delete/{id}(id=${cmu.question_no})}" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>

<div>
  <h2>댓글 목록</h2>
  <table border="2">
    <thead>
    <tr>
     <!-- <th>질문번호</th>-->
      <th>댓글 번호</th>
      <th>작성자</th>
      <th>댓글</th>
      <th>관리</th>
      <!--<th>작성일</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
      <!--<td th:text="${comment.question_no}"></td>-->
      <td th:text="${comment.comment_no}"></td>
      <td th:text="${comment.mem_nick}"></td>
      <td th:text="${comment.comment_txt}"></td>
      <td>
          <a th:href="@{/community/deleteComment/{id}(id=${comment.comment_no})}" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
      </td>
      <!--<td th:text="${comment.comment_date}"></td>-->
    </tr>
    </tbody>
  </table>

  <!-- 댓글 작성 폼 -->
  <h2>댓글 작성</h2>
  <form action="/community/addComment" method="post">
    <table>
      <!-- 현재 게시글 번호를 숨겨진 필드로 전송 -->
      <input type="hidden" name="question_no" th:value="${cmu.question_no}" />

      <!-- 댓글 작성자 닉네임 -->
      <tr>
        <th><label for="mem_nick">작성자:</label></th>
        <td><input type="text" id="mem_nick" name="mem_nick" required /></td>
      </tr>

      <!-- 댓글 내용 -->
      <tr>
        <th><label for="comment_txt">댓글:</label></th>
        <td><textarea id="comment_txt" name="comment_txt" required></textarea></td>
      </tr>

      <!--<tr th:each="comment : ${comments}">
        <td>
          <a th:href="@{/community/deleteComment/{id}(id=${comment.comment_no})}" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
        </td>
      </tr>-->
      <!-- 댓글 제출 버튼 -->
      <tr>
        <td colspan="2"><button type="submit">댓글 추가</button></td>
      </tr>
    </table>
  </form>


</div>
</body>
</html>
