<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <!--    <link rel="stylesheet" href="/css/styles.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/update.css}"/>
</head>
<body>
<!-- ========== header ========== -->
<header th:replace="~{/common/header :: headerFragment}">
    <h1>HEADER</h1>
</header>

<!-- ========== contents ========== -->
<h1>게시글 수정</h1>
<form action="/community/update" method="post">

<section>
    <div class="Qboard">
        <div class="Qboard-child">
            <div>

                <input type="hidden" name="question_no" th:value="${cmu.question_no}">
                <table class="Qboard-list-table">
                    <tr>
                        <th>제목</th>
                        <td><input type="text" name="question_title" th:value="${cmu.question_title}" required class="tbl-title"></td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td><input type="text" name="mem_nick" th:value="${cmu.mem_nick}" required class="tbl-mem"></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="question_txt" rows="10" required
                                      th:text="${cmu.question_txt}" class="tbl-txt"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <td><input type="text" name="question_date" th:value="${cmu.question_date}" required class="tbl-date"></td>
                    </tr>
                </table>

        </div>
    </div>

        <div class="div-btn">
            <button type="submit">수정</button>
            <button>
                <a href="/community/list">취소</a>
            </button>
        </div>
        <!--            -->
    </div>
</section>

</form>

<!-- ========== footer ========== -->
<footer th:insert="~{/common/footer :: footerFragment}">
    <h1>FOOTER</h1>
</footer>

</body>
</html>
