<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>content</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}" />
</head>
<body>

    <header>

        <p style="display: inline;" class="today-content">「 오늘의 글 」</p>
        <p style="display: inline;" class="nangman">浪漫</p>
    </header>

    <div class="box">
        <div class="content-img">
            <img th:src="@{/img/nangman.jpg}" alt="">
        </div>

        <div class="content-body">
            <h3 th:text="${listContent[0].contents_topic}"></h3>

            <hr>

            <p th:text="${listContent[0].contents_txt}"></p>
        </div>
    </div>

</body>
</html>