<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>

<body>
    <header>
        <p class="main-title">「 浪漫 」</p>
    </header>

    <main>
        <!-- content -->
        <div class="content-box">
            <p class="today-content">오늘의 글</p>
            <!--        <p th:text="${listContent[1].contents_topic}"></p>-->
            <div class="title-button">
                <p class="quotes" style="display: inline;" >‟</p>
                <button class="title" onclick="location.href='content'" th:text="${listContent[0].contents_topic}"></button>
                <p class="quotes" style="display: inline;" >„</p>
            </div>
        </div>
        <br>

        <hr>

        <!-- quiz -->
        <div class="quiz">

            <p class="today-quiz">오늘의 퀴즈</p>

            <p class="quiz-question" th:text="${listQuiz[0].quiz_question}"></p>

            <div class="quizbox">
                <p class="quiz-select1" th:text="${listQuiz[0].quiz_select1}"></p>
            </div>
            <br>
            <div class="quizbox2">
                <p class="quiz-select2" th:text="${listQuiz[0].quiz_select2}"></p>
            </div>

            <div class="ans-btn">
                <button class="answer-btn" onclick="btnClick()">정답보기</button>
            </div>
            <div id='my-div' th:text="${listQuiz[0].quiz_answer}"></div>

            <script>
                function btnClick() {
                    const mydiv = document.getElementById('my-div');

                    if(mydiv.style.display === 'none') {
                        mydiv.style.display = 'block';
                    }else {
                        mydiv.style.display = 'none';
                    }
                }
            </script>


        </div>

        <hr>

        <!-- poem -->
        <div class="poem">

            <p class="today-poem">오늘의 시</p>

            <div class="box">
                <p class="poem-title" th:text="${listPoem[0].poem_title}"></p>
                <p class="poem-txt" th:text="${listPoem[0].poem_txt}"></p>
                <p class="poet" th:text="${listPoem[0].poet}"></p>
            </div>
        </div>

        <hr>

        <div class="btn">
            <button class="question-button" onclick="location.href='community/list'">질문방</button>
<!--            <button class="community-button">대화장</button>-->
        </div>

        <hr>

    </main>

    <!-- ========== footer ========== -->
    <footer th:insert="~{/common/footer :: footerFragment}">
        <h1>FOOTER</h1>
    </footer>

</body>
</html>