html {
    width: 100vw;
    height: 100vw;
}
body {
    margin: 0px;
}

header {
    background-image: url("../img/nangman.jpg");
    background-size: cover;
    text-align: center;
    padding: 170px;
    margin: 0px;
}

.box {
    height: auto;
    margin: 70px 70px 0px 70px;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 3px 5px 5px grey;
}

.content-img {
    padding-top: 70px;
    text-align: center;
}

img {
    width: 650px;
    height: 450px;
}

.today-content {
    font-size: 90px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
    margin-left: 46px;
}

.nangman {
    margin-left: 35px;
    margin-right: 0px;
    writing-mode: vertical-lr;
    color: white;
    font-size: 40px;
}

.topic {
    font-size: 60px;
    color: #5C5C5C;
    text-align: center;
    font-weight: bold;
}

.content-body {
    padding-left: 70px;
    padding-right: 70px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    text-align: center;
    font-size: 45px;
    color: #5C5C5C;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    color: #777777;
}