html {
    width: 100vw;
    height: 100vw;
}

body{
    margin: 0 auto;
    text-align: center;

    /*background-image: url("../img/nangman.jpeg");*/
    /*background-size: auto 300px;*/
}

.list-title {
    /*background-color: skyblue;*/
    font-size: 100px;
    color: white;
    padding-top: 50px;
}

.container {
    height: auto;
    margin: 70px 70px 0px 70px;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 3px 5px 5px grey;
}

section{
    display: inline-block;
    justify-content: center;
    margin: 20px 20px 0px 20px;
}
.image{
    width: 100%;
    height: 470px;
    background-image: url("../img/nangman.jpeg");
    background-size: cover;
    margin-bottom: 20px;
}
/**/
.Qboard{
    height: auto;
    border: 1px solid lightgray;
    margin: 50px;
    border-radius: 20px;
    padding-bottom: 40px;
}
.Qboard-child{
    margin: 0 auto;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;

    /*box-shadow: 5px 5px 5px gray;*/
    border-radius: 10px;

    width: 90%;
    margin-top: 20px;
}

.Qboard-list-table{     /* table */
    border-collapse: collapse;
    font-size: 12px;

    /*width: 80%;*/
    /*border-top: 1px solid gray;*/
}

.comment-list, .comment-write {
    font-size: 35px;
    font-weight: bold;
}

/**/
th{
    width: 150px;
    font-size: 35px;
}
td{
    width: 400px;
    height: 30px;
    font-size: 35px;
}
th, td{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

/*==============*/
.tbl-title{}
.tbl-mem{}
.tbl-date{}
.tbl-txt{
    height: 200px;
}

/*btn*/
.div-btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-delete {
    padding: 10px 20px 10px 20px;
    border: 2px solid #D9D9D9;
    font-size: 25px;
    color: #5C5C5C;
    background-color: rgba(242, 255, 255, 0.5);
    border-radius: 10px;
}

.btn-update {
    padding: 10px 20px 10px 20px;
    border: 2px solid #D9D9D9;
    font-size: 25px;
    color: #5C5C5C;
    background-color: rgba(242, 255, 255, 0.5);
    border-radius: 10px;
}

.comment-btn {
    padding: 10px 20px 10px 20px;
    border: 2px solid #D9D9D9;
    font-size: 25px;
    color: #5C5C5C;
    background-color: rgba(242, 255, 255, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}

/* ========== 댓글 ========== */
.Cboard-child1{
    margin: 0 auto;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;

    /*box-shadow: 5px 5px 5px gray;*/
    border-radius: 10px;

    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Cboard-list-table{
    border-collapse: collapse;
    font-size: 12px;
}
.ctbl-no{
    /*width: 10px;*/
}
.ctbl-mem{
    /*width: 15px;*/
}
.ctbl-c{
    width: 45%;
}
.ctbl-btn{}
/**/
.Cboard-child2{
    margin: 0 auto;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;

    /*box-shadow: 5px 5px 5px gray;*/
    border-radius: 10px;

    width: 90%;
    margin-top: 20px;
}

.comment-tr {
    font-size: 10px;
}

/**/
.btn-list{
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    border: 2px solid #D9D9D9;
    font-size: 25px;
    color: #5C5C5C;
    background-color: rgba(242, 255, 255, 0.5);
    border-radius: 10px;
}

.tbody {
    font-size: 12px;
}

footer {
    text-align: center;
    color: #777777;
}