html{
    width: 393px;

}
body{
    margin: 0 auto;
    text-align: center;

    /*background-image: url("../img/nangman.jpeg");*/
    /*background-size: auto 300px;*/

}

h1{
    /*background-color: skyblue;*/
    color: white;
}
section{
    display: inline-block;
    justify-content: center;
}
.image{
    width: 100%;
    height: 150px;
    background-image: url("../img/nangman.jpeg");
    background-size: cover;
}
/**/
.Qboard{
    border: 1px solid lightgray;
    /*width: 90%;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /*text-align: center;*/
    /*display: flex;*/
    /*justify-content: center;*/
    border-radius: 20px;
    background-color: white;

    box-shadow: 5px 5px 5px gray;
}
.Qboard-child{
    margin: 0 auto;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;

    /*box-shadow: 5px 5px 5px gray;*/
    border-radius: 10px;

    width: 90%;
    margin-top: 20px;
}

.Qboard-list-table{     /* table */
    border-collapse: collapse;

    /*width: 80%;*/
    /*border-top: 1px solid gray;*/
}

/* thead */
.table-list-1{
    width: 20px;
}
.table-list-2{
    width: 200px;
}
.table-list-3{
    width: 100px;
}
.table-list-4{
    width: 130px;
}
.table-list-5{
    width: 100px;
}

/* tbody */
td{
    height: 50px;
}

.btn{
    display: inline-block;
    justify-content: center;
}

/**/
th, td{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

/* button */
.new-contents-btn{
    margin-top: 20px;
    /*text-decoration: none;*/
}