html {
    width: 100vw;
    height: 100vw;
}
body {
    margin: 0px;
}

main {
    margin-left: 60px;
    margin-right: 60px;
}

header {
    background-image: url("../img/nangman.jpg");
    background-size: cover;
    text-align: center;
    padding: 70px;
    margin: 0px;
}

footer {
    text-align: center;
    color: #777777;
}

.main-title{
    font-size: 100px;
    color: white;
}

/* 오늘의 글 CSS */

.today-content {
    margin-top: 35px;
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: bold;
}

.title {
    border: none;
    background: none;
    font-size: 70px;
    color: #5C5C5C;
    font-weight: bold;
}

.title-button {
    text-align: center;
}

.quotes {
    font-size: 70px;
}

.content-box {
    margin-top: 80px;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

/* 오늘의 시 CSS */
.poem {
    margin-top: 80px;
}

.today-poem {
    margin-top: 35px;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: bold;
}

.box{
    margin: 10px 20px 35px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: rgba(242, 255, 255, 0.5);
    box-shadow: 0px 2px 2px grey;
}

.poem-title {
    font-size: 50px;
    text-align: center;
}

.poem-txt {
    font-size: 40px;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

.poet {
    font-size: 35px;
    text-align: right;
    margin-right: 30px;
}

/* 오늘의 퀴즈 CSS */

#my-div{
    font-size: 40px;
    display: none;
    text-align: right;
    padding-right: 15px;
    color: #5C5C5C;
    background-color: rgba(242, 255, 255, 0.5);
    width: auto;

}

.quiz {
    margin-top: 80px;
    margin-bottom: 35px;
}

.today-quiz {
    margin-top: 35px;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: bold;
}
.quiz-question {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}

.quizbox {
    padding-bottom: 1px;
    padding-top: 1px;
    border: none;
    background-color: #F5F5F5;
}
.quizbox2 {
    padding-bottom: 1px;
    padding-top: 1px;
    border: none;
    background-color: #F5F5F5;
}

.quiz-select1 {
    margin-left: 30px;
    font-size: 50px;
}

.quiz-select2 {
    margin-left: 30px;
    font-size: 50px;
}

.ans-btn {
    margin-top: 20px;
    text-align: right;
}

.answer-btn {
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #D9D9D9;
    font-size: 40px;
    color: #5C5C5C;
    background-color: rgba(242, 255, 255, 0.5);
    border-radius: 10px;

}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* 버튼 CSS*/

.btn {
    margin-top: 27px;
    margin-bottom: 27px;
}

.question-button {
    padding: 40px 330px 40px 330px;
    border: 2px solid #D9D9D9;
    font-size: 50px;
    color: #5C5C5C;
    background-color: rgba(242, 255, 255, 0.5);
    border-radius: 10px;
    margin: 10px 20px 35px 20px;
    box-shadow: 0px 2px 2px grey;

}

.community-button {
    margin-right: 10px;
    padding: 20px 40px 20px 40px;
    border: 2px solid #D9D9D9;
    font-size: 20px;
    color: #5C5C5C;
    background-color: rgba(242, 255, 255, 0.5);
    border-radius: 10px;
}
